{% extends "training_logs/base.html" %}

{% block page_header %}<h1>{{ topic }}</h1>{% endblock page_header %}

{% block content %}
<h2>Entries:</h2>

<a class="btn btn-primary" href="{% url 'training_logs:new_entry' topic.id %}" role="button">Add New Training Entry</a>
</br>
</br>
{% for entry in entries %} 
    <div class="card text-black" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">{{ entry.date_added|date:'M d, Y H:i ' }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Date Training Conducted: {{ entry.date_training_conducted}}| Hours: {{ entry.hours }} </h6>
        <p class="card-text">{{ entry.text| linebreaks }}</p>
        <a class="btn btn-primary" href="{% url 'training_logs:edit_entry' entry.id %}" role="button">Edit Entry</a>
        </div>
    </div>
</br>
{% endfor %}

{% endblock content %}