{% extends "training_logs/base.html" %}

{% block page_header %}<h1>Welcome to your Admin Dashboard {{ owner }}</h1>{% endblock page_header %}

{% block content %}

<a href="{% url 'users:search_results' %}" class="btn btn-primary">Search Dates</a>
</br>
<div class="container">
</br>
  <body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Hours Not Complete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">Monthly User Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Training Method Stats</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane bg-light container active" id="home">
      </br>
          <div class="card mb-4">
            <table class="table table-light table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Training Hours</th>
                  <th scope="col">Role</th>
                </tr>
              </thead>
              <tbody>
                {% for user, hours in total_hours.items %}
                {% if hours < 12 %} <tr>
                  <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
                  <td>{{ hours }}</td>
                  <td>{{ user.profile.role }}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      <div class="tab-pane container bg-light" id="menu1">
      </br>
          <div class="card mb-4">
            <table class="table table-light table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Training Hours</th>
                </tr>
              </thead>
              <tbody>
                {% for user, hours in total_hours.items %}
                <tr>
                  <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
                  <td>{{ hours }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
      <div class="tab-pane container bg-light" id="menu2">
      </br>
          <div class="card mb-4">
            <table class="table table-light table-hover">
              <thead>
                <tr>
                  <th scope="col">Method of Training</th>
                  <th scope="col">Training Hours</th>
                </tr>
              </thead>
    
              <tbody>
                {% for method, hours in training_method_hours.items %}
                <tr>
                  <th scope="row">{{ method }}</th>
                  <td>{{ hours }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </body>

  

  {% endblock content %}