{% extends "training_logs/base.html" %}

{% block page_header %}<h1>Welcome to your Admin Dashboard {{ owner }}</h1>{% endblock page_header %}

{% block content %}

<a href="{% url 'users:search_results' %}" class="btn btn-primary">Search Dates</a>

</br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Hours not completed:</h2>
      <div class="card mb-4">
        <table class="table table-light table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Training Hours</th>
            </tr>
          </thead>
        
          <tbody>
            {% for user, hours in total_hours.items %}
            {% if hours < 12 %} <tr>
              <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
              <td>{{ hours }}</td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Monthly Stats:</h2>
      <div class="card mb-4">
        <table class="table table-light table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Training Hours</th>
            </tr>
          </thead>
        
          <tbody>
            {% for user, hours in total_hours.items %}
            <tr>
              <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
              <td>{{ hours }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="col-md-4">
      <h2>Training Method Statistics:</h2>
      <div class="card mb-4">
        <table class="table table-light table-hover">
          <thead>
            <tr>
              <th scope="col">Method of Training</th>
              <th scope="col">Training Hours</th>
            </tr>
          </thead>
        
          <tbody>
            {% for method, hours in training_method_hours.items %}
            <tr>
              <th scope="row">{{ method }}</th>
              <td>{{ hours }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}