{% extends "training_logs/base.html" %}

{% block page_header %}<h1>Welcome to your training profile {{ owner.first_name }}</h1>
<hr />
{% endblock page_header %}

{% block content %}

<div class="row">
  <div class="col">
    {% for user, hours in total_hours.items %}
    {% if owner == user %}
    <div class="card">
      <div class="card-header text-dark">
        User Profile
      </div>
      </br>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="badge bg-secondary ">Username: </span> {{owner.username}} </li>
          </br>
          <li class="list-group-item"><span class="badge bg-secondary">First Name:</span> {{owner.first_name}}</li>
          </br>
          <li class="list-group-item"><span class="badge bg-secondary">Last Name:</span> {{owner.last_name}}</li>
          </br>
          <li class="list-group-item"><span class="badge bg-secondary">Role:</span> {{owner.profile.role}}</li>
          </br>
          <li class="list-group-item"><span class="badge bg-secondary">{{ current_month}} Training Hours:</span>
            {{hours}}
          </li>
          <div class="progress" style="height:30px">
            <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated"
              style="width:{{style_percent}}%">
            </div>
          </div>
        </ul>
      </div>
      <div class="card-body">
        <a href="{% url 'users:edit_profile' %}" class="btn btn-outline-dark btn-lg px-5">Edit Profile</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div class="col">
    <div class="card mb-4">
      <table class="table table-light table-hover">
        <thead>
          <tr>
            <th scope="col">Method of Training</th>
            <th scope="col">Training Hours</th>
          </tr>
        </thead>

        <tbody>
          {% for method, hours in training_method_hours.items %}
          <tr>
            <th scope="row">{{ method }}</th>
            <td>{{ hours }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{current_month}} Entries:
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        {% for user in users %}
        {% if owner == user %}
        <table class="table table-light table-hover">
          <thead>
            <tr>
              <th scope="col">Topic</th>
              <th scope="col">Method of Training</th>
              <th scope="col">Date Training Conducted</th>
              <th scope="col">Training Hours</th>
            </tr>
          </thead>

          <tbody>
            {% for entry in entries %}
            {% if entry.month_published == current_month %}
            {% if user.id == entry.topic.owner.id %}
            <tr>
              <th scope="row">{{ entry.topic.text}}</th>
              <td>{{ entry.method_of_training }}</td>
              <td>{{ entry.date_training_conducted }}</td>
              <td>{{ entry.hours }}</td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}