{% extends "training_logs/base.html" %}

{% block page_header %}<h1>Welcome to your training profile {{ owner.first_name }}</h1>
{% endblock page_header %}

{% block content %}
{% for user, hours in total_hours.items %}
{% if owner == user %}
<div class="card w-50">
  <div class="card-header text-dark">
    User Profile
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username: {{owner.username}} </li>
      <li class="list-group-item">First Name: {{owner.first_name}}</li>
      <li class="list-group-item">Last Name: {{owner.last_name}}</li>
      <li class="list-group-item">{{ current_month}} Training Hours: {{ hours }}</li>
    </ul>
  </div>
  <div class="card-body">
    <a href="{% url 'users:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</br>
<h2>{{current_month}} Entries:</h2>
{% for user in users %}
{% if owner == user %}
<table class="table table-light table-hover">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Method of Training</th>
      <th scope="col">Date Training Conducted</th>
      <th scope="col">Training Hours</th>
    </tr>
  </thead>

  <tbody>
    {% for entry in entries %}
    {% if entry.month_published == current_month %}
    {% if user.id == entry.topic.owner.id %}
    <tr>
      <th scope="row">{{ entry.topic}}</th>
      <td>{{ entry.method_of_training }}</td>
      <td>{{ entry.date_training_conducted }}</td>
      <td>{{ entry.hours }}</td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endfor %}

{% endblock content %}