{% extends "training_logs/base.html" %}
{% load bootstrap4 %}
{% block page_header %}<h1>Edit Profile</h1>{% endblock page_header %}

{% block content %}
<form method="post" action="{% url 'users:edit_profile' %}" class="form text-light w-50">
  {% csrf_token %}
  {{form_2.as_p}}
  {% bootstrap_form form %}


</br>
  {% buttons %}
      <button name="submit" class="btn btn-primary">Update Profile</button>
  {% endbuttons %}
  <input type="hidden" name="next" value="{% url 'users:dashboard' %}"/>
</form>
{% endblock content %}
