{% extends "training_logs/base.html" %}
{% load bootstrap4 %}
{% block page_header %}<center>
  <h1>Register</h1>
  <hr />
</center>{% endblock page_header %}

{% block content %}

<center>

  <div class="d-flex justify-content-center w-50 bg-gradient text-light">
    <form method="post" action="{% url 'users:register' %}" class="form text-light w-50">
      {% csrf_token %}
      {% bootstrap_form form %}
      </br>
      {% buttons %}
      <button name="submit" class="btn btn-primary">Register</button>
      {% endbuttons %}
      <input type="hidden" name="next" value="{% url 'training_logs:index' %}" />
    </form>
  </div>
</center>
{% endblock content %}